<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{title}} </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <style>
        body {
            padding-top: 30px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">{{message}}</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-center">
                <body>
                    Oh zut, Votre lien a expiré !!!
                </body>
            </div>

            <hr>
            
    </div>
</body>

<footer class="page-footer font-small purple pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">
        © {{ currentYear}} Copyright Baraka
  </div>
</footer>

</html>